nav {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}
nav .nav-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 100px;
}
nav .nav-wrapper section {
  display: flex;
  justify-content: center;
  width: 65%;
  text-decoration: none;
}
nav .nav-wrapper section .active {
  color: #ff4d30;
}
nav .nav-wrapper section a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 2rem;
}
nav .nav-wrapper .logo-cont {
  display: flex;
}
nav .nav-wrapper .logo-cont .car-icon-svg {
  min-width: 100px;
  height: auto;
  color: #ff4d30;
}
nav .nav-wrapper .logo-cont .logo-text {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav .nav-wrapper .logo-cont .logo-text p {
  margin: 0;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hero .hero-message {
  margin-left: 2rem;
  width: 30%;
}
.hero .hero-message h4 {
  font-size: 1.75rem;
}
.hero .hero-message h1 {
  font-size: 4rem;
  margin: 0;
}
.hero .hero-message .hero-buttons {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
}
.hero .hero-message .hero-buttons button {
  width: 10rem;
  height: 2.5rem;
}
.hero .hero-image {
  width: 40%;
}
.hero .hero-accent {
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: -1;
  width: 30%;
}

.form-wrapper {
  width: 100%;
  display: flex;
  margin: 15rem 0;
  justify-content: center;
}
.form-wrapper div {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #fff;
  background-image: url(../assets/formbackground.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-wrapper div form {
  height: 25rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.form-wrapper div form .span3 {
  grid-column: span 3;
  margin: 5rem 5rem 0;
  height: 3rem;
}
.form-wrapper div form .form-item {
  background: transparent;
  margin: 0 1rem 2rem;
  padding-left: 3rem;
  height: auto;
  width: 90%;
  color: #ff4d30;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: flex-start;
  flex-direction: column;
}
.form-wrapper div form .form-item select {
  width: 50%;
  border-radius: 5px;
  color: grey;
}
.form-wrapper div form .form-item input {
  width: 50%;
  color: grey;
}
.form-wrapper div form .form-item .form-submit {
  background-color: #ff4d30;
  border: none;
  border-radius: 5px;
  color: white;
  line-height: 1.2rem;
}

.bio-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 10rem;
  margin-top: 10rem;
}
.bio-cont .bio-head {
  font-size: 1.5rem;
  margin: 0;
}
.bio-cont .bio-intro {
  font-size: 3rem;
  margin: 1rem 0 3rem;
}
.bio-cont div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.bio-cont div .home-bio-card {
  width: 20%;
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bio-cont div .home-bio-card .bio-image {
  min-width: 175px;
  aspect-ratio: 1;
}
.bio-cont div .home-bio-card h2 {
  font-size: 1.75rem;
}
.bio-cont div .home-bio-card p {
  color: grey;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.description-wrapper .model-head {
  font-size: 1.8rem;
  margin: 0;
}
.description-wrapper .model-info {
  font-size: 3rem;
  margin: 0;
}
.description-wrapper .car-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.description-wrapper .car-wrapper .model-image {
  margin: 0 3rem;
  width: 800px;
  height: 500px;
}
.description-wrapper .car-wrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  width: 15%;
  align-items: center;
  padding: 0;
}
.description-wrapper .car-wrapper ul li {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  height: 2rem;
  padding-top: 0.5rem;
}
.description-wrapper .car-wrapper ul .list-active {
  background-color: #ff4d30;
  color: white;
}
.description-wrapper .car-wrapper .car-info-grid {
  display: grid;
  width: 15%;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.description-wrapper .car-wrapper .car-info-grid h1 {
  border: 1px solid black;
  margin: 0;
  padding-top: 0.5rem;
  color: white;
}
.description-wrapper .car-wrapper .car-info-grid p {
  margin: 0;
  padding-top: 1rem;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.description-wrapper .car-wrapper .car-info-grid .grid-top {
  border-top: 1px solid black;
}
.description-wrapper .car-wrapper .car-info-grid .grid-border {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.description-wrapper .car-wrapper .car-info-grid button {
  margin-top: 1rem;
}
.description-wrapper .car-wrapper .car-info-grid button a {
  text-decoration: none;
  color: white;
}
.description-wrapper .car-wrapper .span2 {
  grid-column: span 2;
  background: #ff4d30;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

footer {
  width: 100%;
  border-top: 2px solid grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3rem 0;
  padding: 1rem 0;
}
footer .footer-item {
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 1440px) {
  .hero {
    margin-top: 3rem;
  }
  .hero .hero-message {
    width: 35%;
    margin-left: 0;
  }
  .hero .hero-message .hero-buttons {
    gap: 1rem;
    justify-content: center;
  }
  .description-wrapper .car-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .description-wrapper .car-wrapper .model-image {
    aspect-ratio: 8/5;
    margin: 0 3rem;
    width: 500px;
    height: auto;
  }
}
@media (max-width: 1000px) {
  .hero {
    flex-direction: column;
  }
  .hero .hero-message {
    margin-left: 2rem;
    width: 70%;
  }
  .hero .hero-message .hero-buttons {
    width: 100%;
    justify-content: center;
    margin: 0;
  }
  .hero .hero-accent {
    width: 40%;
  }
  .bio-cont {
    margin: 5rem 0 10rem;
  }
  .form-wrapper {
    width: 100%;
    display: flex;
    margin: 5rem 0;
    justify-content: center;
  }
  .form-wrapper div form {
    grid-template-columns: 1fr 1fr;
  }
  .form-wrapper div form .span3 {
    grid-column: span 2;
  }
}
.description-wrapper .car-wrapper {
  width: 100%;
  align-items: center;
}
.description-wrapper .car-wrapper .model-image {
  margin: 0;
  width: 400px;
  height: 250px;
}
.description-wrapper .car-wrapper ul {
  gap: 1rem;
}

footer {
  width: 100%;
  border-top: 2px solid grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3rem 0;
  padding: 1rem 0;
}
footer .footer-item {
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 750px) {
  nav .nav-wrapper {
    margin-top: 3rem;
    height: 200px;
    flex-direction: column;
  }
  nav .nav-wrapper section {
    flex-direction: column;
    width: 65%;
    margin: 0;
  }
  nav .nav-wrapper section a p {
    margin: 2px;
  }
  .hero {
    flex-direction: column;
  }
  .hero .hero-message {
    margin-left: 2rem;
    width: 70%;
  }
  .hero .hero-message .hero-buttons {
    width: 100%;
    justify-content: center;
    margin: 0;
  }
  .hero .hero-accent {
    width: 40%;
  }
  .hero .hero-message {
    margin-left: 2rem;
    width: 80%;
  }
  .hero .hero-message h4 {
    font-size: 1.2rem;
  }
  .hero .hero-message h1 {
    font-size: 2rem;
  }
  .hero .hero-message .hero-buttons {
    width: 100%;
    justify-content: center;
    margin: 0;
  }
  .hero .hero-message .hero-buttons button {
    width: 7rem;
    height: 2.5rem;
  }
  .hero .hero-image {
    width: 70%;
  }
  .hero .hero-accent {
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: -1;
    width: 50%;
  }
  .form-wrapper {
    margin: 3rem 0;
  }
  .form-wrapper div form {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .form-wrapper div form .span3 {
    grid-column: span 1;
    text-align: center;
    margin: 1rem;
    height: 3rem;
  }
  .form-wrapper div form .form-item {
    background: transparent;
    margin: 0 1rem 2rem;
    padding-left: 0;
    height: auto;
    width: 90%;
    color: #ff4d30;
    display: flex;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    align-items: flex-start;
    flex-direction: column;
  }
  .form-wrapper div form .form-item select {
    width: 90%;
    border-radius: 5px;
    color: grey;
  }
  .form-wrapper div form .form-item input {
    width: 90%;
    color: grey;
  }
  .bio-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 10rem;
    margin-top: 10rem;
  }
  .bio-cont .bio-head {
    font-size: 1.2rem;
    margin: 0;
  }
  .bio-cont .bio-intro {
    font-size: 1.5rem;
    margin: 1rem 0 3rem;
  }
  .bio-cont div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .bio-cont div .home-bio-card {
    width: 80%;
    text-align: center;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bio-cont div .home-bio-card .bio-image {
    min-width: 175px;
    aspect-ratio: 1;
  }
  .description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .description-wrapper .model-head {
    font-size: 1.5rem;
    margin: 0;
  }
  .description-wrapper .model-info {
    font-size: 2rem;
    margin: 0;
  }
  .description-wrapper .car-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .description-wrapper .car-wrapper .model-image {
    margin: 0 3rem;
    width: 300px;
    height: 200px;
  }
  .description-wrapper .car-wrapper ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    width: 90%;
  }
  .description-wrapper .car-wrapper ul li {
    background-color: white;
    border: 1px solid black;
    width: 100%;
    height: 2rem;
    padding-top: 0.5rem;
  }
  .description-wrapper .car-wrapper ul .list-active {
    background-color: #ff4d30;
    color: white;
  }
  .description-wrapper .car-wrapper .car-info-grid {
    display: grid;
    width: 85%;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  .description-wrapper .car-wrapper .car-info-grid h1 {
    border: 1px solid black;
    margin: 0;
    padding-top: 0.5rem;
    color: white;
  }
  .description-wrapper .car-wrapper .car-info-grid p {
    margin: 0;
    padding-top: 1rem;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  .description-wrapper .car-wrapper .car-info-grid .grid-top {
    border-top: 1px solid black;
  }
  .description-wrapper .car-wrapper .car-info-grid .grid-border {
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
  .description-wrapper .car-wrapper .car-info-grid button {
    margin-top: 1rem;
  }
  .description-wrapper .car-wrapper .car-info-grid button a {
    text-decoration: none;
    color: white;
  }
  .description-wrapper .car-wrapper .span2 {
    grid-column: span 2;
    background: #ff4d30;
    font-size: 2rem;
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
  }
  footer {
    width: 100%;
    border-top: 2px solid grey;
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem 0;
    padding: 1rem 0;
  }
  footer .footer-item {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  footer .footer-item a {
    margin-top: 1rem;
  }
}
.secondary-hero {
  background-image: url("../assets/herosecond.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.secondary-hero .hero-fade {
  background-color: hsla(0, 0%, 100%, 0.92);
  width: 100%;
  height: 100%;
}

.about-wrapper {
  width: 100%;
  margin-top: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-wrapper .about-title {
  font-size: 2.5rem;
}
.about-wrapper div {
  gap: 2rem;
  display: flex;
  justify-content: center;
}
.about-wrapper div .sale-img {
  width: 25%;
}
.about-wrapper div article {
  width: 25%;
}
.about-wrapper div article .about-header {
  font-size: 2.2rem;
}
.about-wrapper div article .about-desc {
  font-size: 24px;
}

.bio-about {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}
.bio-about .bio-wrapper {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

@media (max-width: 1440px) {
  .about-wrapper {
    width: 100%;
    margin-top: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-wrapper .about-title {
    font-size: 2rem;
  }
  .about-wrapper div {
    gap: 2rem;
    display: flex;
    justify-content: center;
  }
  .about-wrapper div .sale-img {
    aspect-ratio: 4/3;
    width: 35%;
  }
  .about-wrapper div article {
    width: 35%;
  }
  .about-wrapper div article .about-header {
    font-size: 1.5rem;
  }
  .about-wrapper div article .about-desc {
    font-size: 24px;
  }
  .bio-about .bio-wrapper {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .about-wrapper {
    width: 100%;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-wrapper .about-title {
    font-size: 2rem;
  }
  .about-wrapper div {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-wrapper div .sale-img {
    aspect-ratio: 4/3;
    width: 60%;
  }
  .about-wrapper div article {
    width: 60%;
  }
  .about-wrapper div article .about-header {
    font-size: 1.5rem;
  }
  .about-wrapper div article .about-desc {
    font-size: 24px;
  }
  .bio-about .bio-wrapper {
    width: 70%;
  }
}
@media (max-width: 750px) {
  .about-wrapper {
    width: 100%;
    margin-top: 3rem;
  }
  .about-wrapper .about-title {
    font-size: 2rem;
  }
  .about-wrapper div {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-wrapper div .sale-img {
    aspect-ratio: 4/3;
    width: 80%;
  }
  .about-wrapper div article {
    width: 80%;
  }
  .about-wrapper div article .about-header {
    font-size: 1.5rem;
  }
  .about-wrapper div article .about-desc {
    font-size: 24px;
  }
  .bio-about .bio-wrapper {
    width: 80%;
  }
}
.test-intro {
  margin-top: 25rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.test-intro .test-wrapper {
  display: flex;
  width: 40%;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.test-intro .test-wrapper h1 {
  font-size: 2.5rem;
  margin: 0;
}
.test-intro .test-wrapper p {
  color: grey;
}

.testimonial-wrapper {
  margin: 5rem 0;
}
.testimonial-wrapper div {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.testimonial-wrapper div article {
  width: 30%;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 1rem;
  font-size: 1.3rem;
  box-shadow: 10px 5px 5px grey;
}
.testimonial-wrapper div article div {
  display: flex;
  padding: 0 3rem;
  justify-content: space-between;
  font-size: 3rem;
}
.testimonial-wrapper div article .testimonial-image {
  background-image: url("../assets/testprof1.jpeg");
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@media (max-width: 1440px) {
  .test-intro {
    margin-top: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .test-intro .test-wrapper {
    display: flex;
    width: 40%;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .test-intro .test-wrapper h1 {
    font-size: 2rem;
    margin: 0;
  }
  .test-intro .test-wrapper p {
    color: grey;
  }
  .testimonial-wrapper {
    margin: 5rem 0;
  }
  .testimonial-wrapper div article {
    width: 40%;
    font-size: 1rem;
    box-shadow: 10px 5px 5px grey;
  }
  .testimonial-wrapper div article .testimonial-image {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 1000px) {
  .test-intro {
    margin-top: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .test-intro .test-wrapper {
    display: flex;
    width: 40%;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .test-intro .test-wrapper h1 {
    font-size: 2rem;
    margin: 0;
  }
  .test-intro .test-wrapper p {
    color: grey;
  }
  .testimonial-wrapper {
    margin: 5rem 0;
  }
  .testimonial-wrapper div article {
    width: 40%;
    font-size: 1rem;
    box-shadow: 10px 5px 5px grey;
  }
  .testimonial-wrapper div article .testimonial-image {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 750px) {
  .test-intro {
    margin-top: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .test-intro .test-wrapper {
    display: flex;
    width: 80%;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .test-intro .test-wrapper h1 {
    font-size: 2rem;
    margin: 0;
  }
  .test-intro .test-wrapper p {
    color: grey;
  }
  .testimonial-wrapper {
    margin: 5rem 0;
  }
  .testimonial-wrapper div {
    flex-direction: column;
    gap: 3rem;
  }
  .testimonial-wrapper div article {
    width: 85%;
    font-size: 1rem;
    box-shadow: 10px 5px 5px grey;
  }
  .testimonial-wrapper div article div {
    display: flex;
    padding: 0 3rem;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3rem;
  }
  .testimonial-wrapper div article .testimonial-image {
    width: 50px;
    height: 50px;
  }
}
.team-wrapper {
  margin-top: 25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team-wrapper .team-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
.team-wrapper .team-grid .team-member {
  box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.08);
}
.team-wrapper .team-grid .team-member img {
  background: rgba(180, 180, 180, 0.151);
  width: 350px;
}
.team-wrapper .team-grid .team-member div {
  text-align: center;
}
.team-wrapper .team-grid .team-member div h1 {
  font-size: 1.5rem;
}
.team-wrapper .team-grid .team-member div h2 {
  font-size: 1.5rem;
}

@media (max-width: 1440px) {
  .team-wrapper {
    margin-top: 25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .team-wrapper .team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .team-wrapper .team-grid .team-member {
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.08);
  }
  .team-wrapper .team-grid .team-member img {
    background: rgba(180, 180, 180, 0.151);
    width: 350px;
  }
  .team-wrapper .team-grid .team-member div {
    text-align: center;
  }
  .team-wrapper .team-grid .team-member div h1 {
    font-size: 1.5rem;
  }
  .team-wrapper .team-grid .team-member div h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1000px) {
  .team-wrapper {
    margin-top: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .team-wrapper .team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .team-wrapper .team-grid .team-member {
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.08);
  }
  .team-wrapper .team-grid .team-member img {
    background: rgba(180, 180, 180, 0.151);
    width: 350px;
  }
  .team-wrapper .team-grid .team-member div {
    text-align: center;
  }
  .team-wrapper .team-grid .team-member div h1 {
    font-size: 1.5rem;
  }
  .team-wrapper .team-grid .team-member div h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 750px) {
  .team-wrapper {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .team-wrapper .team-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .team-wrapper .team-grid .team-member {
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.08);
  }
  .team-wrapper .team-grid .team-member img {
    background: rgba(180, 180, 180, 0.151);
    width: 300px;
  }
  .team-wrapper .team-grid .team-member div {
    text-align: center;
  }
  .team-wrapper .team-grid .team-member div h1 {
    font-size: 1.5rem;
  }
  .team-wrapper .team-grid .team-member div h2 {
    font-size: 1.5rem;
  }
}
.contact-cont {
  display: flex;
  margin-top: 25rem;
  width: 100%;
  justify-content: center;
}
.contact-cont .contact-text {
  display: flex;
  width: 100%;
  justify-content: center;
}
.contact-cont .contact-text .text-cont {
  width: 20%;
  display: flex;
  padding: 2rem;
  flex-direction: column;
}
.contact-cont .contact-text .contact-form {
  width: 40%;
}
.contact-cont .contact-text .contact-form .email-box {
  display: flex;
  flex-direction: column;
}
.contact-cont .contact-text .contact-form .email-box .form-box {
  height: 2rem;
  margin-bottom: 2rem;
}
.contact-cont .contact-text .contact-form .email-box .message-box {
  height: 10rem;
}
.contact-cont .contact-text .contact-form .email-box .send-box {
  height: 2rem;
  margin-top: 0.5rem;
  background-color: #ff4d30;
}

@media (max-width: 1440px) {
  .contact-cont {
    display: flex;
    margin-top: 25rem;
    width: 100%;
    justify-content: center;
  }
  .contact-cont .contact-text {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .contact-cont .contact-text .text-cont {
    width: 20%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
  }
  .contact-cont .contact-text .contact-form {
    width: 40%;
  }
  .contact-cont .contact-text .contact-form .email-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .contact-cont .contact-text .contact-form .email-box .form-box {
    height: 2rem;
    margin-bottom: 0;
  }
  .contact-cont .contact-text .contact-form .email-box .message-box {
    height: 5rem;
  }
  .contact-cont .contact-text .contact-form .email-box .send-box {
    height: 2rem;
    margin-top: 0.5rem;
    background-color: #ff4d30;
  }
}
@media (max-width: 1000px) {
  .contact-cont {
    display: flex;
    margin-top: 25rem;
    width: 100%;
    justify-content: center;
  }
  .contact-cont .contact-text {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .contact-cont .contact-text .text-cont {
    width: 40%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
  }
  .contact-cont .contact-text .contact-form {
    width: 40%;
  }
  .contact-cont .contact-text .contact-form .email-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .contact-cont .contact-text .contact-form .email-box .form-box {
    height: 2rem;
    margin-bottom: 0;
  }
  .contact-cont .contact-text .contact-form .email-box .message-box {
    height: 5rem;
  }
  .contact-cont .contact-text .contact-form .email-box .send-box {
    height: 2rem;
    margin-top: 0.5rem;
    background-color: #ff4d30;
  }
}
@media (max-width: 750px) {
  .contact-cont {
    display: flex;
    margin-top: 5rem;
    width: 100%;
    justify-content: center;
  }
  .contact-cont .contact-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .contact-cont .contact-text .text-cont {
    width: 80%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
  }
  .contact-cont .contact-text .contact-form {
    width: 100%;
  }
  .contact-cont .contact-text .contact-form .email-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .contact-cont .contact-text .contact-form .email-box .form-box {
    height: 2rem;
    width: 80%;
    margin-bottom: 0;
  }
  .contact-cont .contact-text .contact-form .email-box .message-box {
    width: 80%;
    height: 5rem;
  }
  .contact-cont .contact-text .contact-form .email-box .send-box {
    height: 2rem;
    width: 80%;
    margin-top: 0.5rem;
    background-color: #ff4d30;
  }
}
.rental-wrapper {
  margin-top: 25rem;
  display: flex;
  justify-content: center;
}
.rental-wrapper .rental-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rental-wrapper .rental-cont .rental-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 2rem;
}

html {
  background-color: #f8f8f8;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */